@font-face {
  font-family: "bootstrap-icons";
  src: url(assets/f2539a501be3a673de05.woff2?08efbba7c53d8c5413793eecb19b20bb) format("woff2"),
url(assets/7ff3ca6fa798de3f8ac2.woff?08efbba7c53d8c5413793eecb19b20bb) format("woff");
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-display: block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-telegram::before { content: "\f5b3"; }
.bi-tv::before { content: "\f5ed"; }
.bi-whatsapp::before { content: "\f618"; }
.bi-wifi::before { content: "\f61c"; }
.bi-person-workspace::before { content: "\f67a"; }

