mixin card(imgClassName, imgName, imgAltName, cardTitle, cardText, arrSmallCardText)
  .card.mb-5
    .row.g-0.d-flex.flex-column.flex-lg-row
      .col.col-lg-4
        +image(imgClassName, imgName, imgAltName)
      .col.col-lg-6
        .card-body
          h5.card-title.fw-bold.text-center.text-lg-start= cardTitle
          p.card-text.fw-bolder.text-center.text-lg-start= cardText
          each value in arrSmallCardText
            p.card-text.m-0.text-center.text-lg-start
              small.text-muted.fw-bolder= value
      .col.col-lg-2.mt-lg-5.mb-3
        p.card-text.text-center.m-0.mt-4 от
        h5.card-title.text-center.fw-bold 2500 руб.
        .d-flex.justify-content-center.mt-4
          a.btn.btn-secondary(href='#') Подробнее
