mixin cardImgTop(imgClassName = '', imgName, imgExt, styleName = '', title = '', subTitle = '', text = '', subText='')
  .card.mt-3(style = styleName)
    .row.g-0
      +image(imgClassName, imgName, imgExt)
      .card-body.text-center(style="height: 80px;")
        h6.card-title.fw-bold !{title}