mixin card(imgClassName = '', imgName, imgExt, styleName = '', title = '', subTitle = '', text = '', subText='')
  .card.mt-3(style = styleName)
    .row.g-0
      .col-lg-5
        +image(imgClassName, imgName, imgExt)
      .col-lg-7
        .card-body.h-100.d-flex.flex-column.justify-content-center.align-items-start
          h2.card-title.fw-bold !{title}
          h3.card-title.fw-bold.my-4= subTitle
          p.card-text.fs-5.mt-3.fw-normal.lh-sm= text
          form.container-fluid#form-feedback
            .mb-3
              label.form-label(for='exampleInputName') Фамилия и имя:
              input#exampleInputName.form-control(type='text' name='name' placeholder="Иванов Иван" required)
            .mb-3
              label.form-label(for='exampleInputEmail') Email:
              input#exampleInputEmail.form-control(type='email' name='email' aria-describedby='emailHelp' placeholder="you@email.ru" required)
            .mb-3
              label.form-label(for='exampleInputTelephon') Телефон:
              input#exampleInputTelephon.form-control(type='tel' name='telephon' placeholder="+79991234567" required)
            .mb-3
              label.form-label(for='exampleFormControlTextarea') Сообщение:
              textarea#exampleFormControlTextarea.form-control(rows='3' name='message' placeholder="Ваше сообщение..." required)
            button.btn.btn-primary.mb-3(type='submit') Отправить
          p.card-text.fs-5.fw-normal.lh-sm= subText
