mixin carusel()
  #carouselExampleIndicators.carousel.carousel-dark.slide(data-bs-interval="false")
    .carousel-indicators
      button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
      button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
      button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
      button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='3' aria-label='Slide 4')
      button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='4' aria-label='Slide 5')
      button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='5' aria-label='Slide 6')
      button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='6' aria-label='Slide 7')
      button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='7' aria-label='Slide 8')
      button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='8' aria-label='Slide 9')
      button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='9' aria-label='Slide 10')
      button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='10' aria-label='Slide 11')
      button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='11' aria-label='Slide 12')
      button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='12' aria-label='Slide 13')
    .carousel-inner
      .carousel-item.active
        +image('d-block w-100', 'card-room', 'jpg')
      .carousel-item
        +image('d-block w-100', 'DSC_01', 'jpg')
      .carousel-item
        +image('d-block w-100','DSC_02', 'jpg')
      .carousel-item
        +image('d-block w-100','DSC_03', 'jpg')
      .carousel-item
        +image('d-block w-100','DSC_04', 'jpg')
      .carousel-item
        +image('d-block w-100','DSC_05', 'jpg')
      .carousel-item
        +image('d-block w-100','DSC_06', 'jpg')
      .carousel-item
        +image('d-block w-100','DSC_07', 'jpg')
      .carousel-item
        +image('d-block w-100','DSC_08', 'jpg')
      .carousel-item
        +image('d-block w-100','DSC_09', 'jpg')
      .carousel-item
        +image('d-block w-100','DSC_10', 'jpg')
      .carousel-item
        +image('d-block w-100','DSC_11', 'jpg')
      .carousel-item
        +image('d-block w-100','DSC_12', 'jpg')
    button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.visually-hidden Предыдущий слайд
    button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Следующий слайд