mixin header(nameForActiveLink='Главная')
  header.header
    nav.navbar.navbar-expand-lg.navbar-light
      .container
        a.navbar-brand(href='#')
          img.logo(src=require('../../../src/images/logo.png') alt='logo' loading='lazy')
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
          .navbar-nav.text-uppercase.font-weight-bold
            each key, value in { 'Главная': './index.html', 'Квартиры и аппартаменты': './apartments.html', 'Рекомендую посетить': './recommend.html', 'Контакты': './contacts.html' }
              if value == nameForActiveLink
                a.nav-link.active-link(aria-current='page' href=key)= value
              else
                a.nav-link.font-weight-bold(href=key)= value