@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Comfortaa", sans-serif !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}

.header,
.footer {
  flex: 0 0 auto;
}

.nav-link {
  font-weight: bold;
}

.nav-link:not(:last-child) {
  margin-right: 15px;
}

.active-link {
  color: #C9B200 !important;
}

.main {
  flex: 1 1 0;
}

.main-bg {
  height: 100%;
  min-height: 765px;
  /* background-color:#ebe3e3; */
  /* background-image: url('../images/bg-main.jpg'); */
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 145px;
  height: 145px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.footer {
  font-family: "Montserrat";
}

h1,
h2,
h3,
.color-brown {
  font-weight: bold;
  color: #8B511D !important;
}

.footer {
  margin-top: auto !important;
}

.footer-logo {
  width: 35px;
  height: 35px;
}

.social-icon {
  width: 32px !important;
  height: 32px !important;
}

.social-text {
  color: #8B511D !important;
}

.btn-tel {
  background-color: rgb(25, 135, 84) !important;
  color: white !important;
}

.btn-tel:hover,
.btn-tel:active {
  background-color: white !important;
  color: rgb(25, 135, 84) !important;
}

/* @media (max-width: 500px) {
  .main-bg .container-fluid {
    height: 100% !important;
    background: rgba(240, 245, 250, 0.4);
  }
} */
