include ../blocks/libs/_libs

doctype html
html(lang="en")
  block head
    include ../../src/blocks/head/_head
    
  body
    block header

    block main

    block footer
      include ../../src/blocks/footer/_footer