include ../blocks/libs/_libs

block variables

doctype html
html(lang="en")
  head
    block head
      include ../../src/blocks/head/_head
    
  body
    block header

    block main

    footer
      block footer
        include ../../src/blocks/footer/_footer