include ../../blocks/libs/_libs

doctype html
html(lang='ru')
  include ../../blocks/head/_head
  body.bg-light
    header.header
      nav.navbar.navbar-expand-lg.navbar-light
        .container
          a.navbar-brand(href='#')
            img.logo(src=require('../../images/logo.png') alt='logo' loading='lazy')
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
            .navbar-nav.text-uppercase.font-weight-bold
              a.nav-link.active-link(aria-current='page' href='#') Главная
              a.nav-link.font-weight-bold(href='#') Квартиры и аппартаменты
              a.nav-link.font-weight-bold(href='#') Рекомендую посетить
              a.nav-link.font-weight-bold(href='./contacts.html') Контакты
    main.main
      .container
        .row
          //- <div class="col-1 col-sm-2"></div>
          .col-10.col-sm-7.my-5.main-content
            h1.fw-bold.text-uppercase То самое место
            h3.fw-bold.my-4
              | КРАТКОСРОЧНАЯ АРЕНДА 
              br
              | КВАРТИР В НОВОСИБИРСКЕ
            p.main-text.fs-5.mt-3.fw-normal
              | Это ТО САМОЕ МЕСТО, где Вы найдете идеальную, во всех смыслах,
              | квартиру в Новосибирске. И неважно, для каких целей Вы прибываете
              | в город, будь то командировка, визит к родственникам или просто
              | мини-путешествие.
    include ../../blocks/footer/_footer
