include ../libs/_libs

footer.footer.mt-1.bg-light.mt-3
      .container
        .row.d-flex.flex-column-reverse.flex-lg-row.justufy-content-center.align-items-center

          .col.col-lg-7.d-flex.justify-content-center.justify-content-lg-start.align-items-center
            p.fs-6.fw-bold.py-0.m-0.text-center 
              small
                | 2022 © ТО САМОЕ МЕСТО - Аренда квартир посуточно.
                | #[br]
                | Все права защищены.

          .contacts.col-9.mx-auto.col-lg-5.d-flex.flex-column.row
            p.fw-bold.m-0.text-center.lh-1
              small.text-muted
                | Для того чтобы забронировать квартиру или апартаменты
                | свяжитесь удобным для Вас способом:
            .social.d-flex.flex-column-reverse.flex-sm-row.justify-content-around.align-items-center.my-2
              .text-nowrap.d-flex
                a.social-link(href='https://t.me/to_samoe_mesto_nsk' target='_blank')
                  i.bi.bi-telegram(style="font-size: 2rem")
                a.social-link.px-3(href='https://wa.me/79137400459' target='_blank')
                  i.bi.bi-whatsapp(style="font-size: 2rem; color: green")
                a.social-link.my-auto(href='https://vk.com/to_samoe_mesto_nsk' target='_blank')
                  img.social-icon(src=require('../../../src/images/vk.svg') alt='vc icon')
              p.fs-6.fw-bold.py-0.m-2.text-center.lh-1
                a.text-decoration-none.link-dark.text-nowrap(href="tel:+79137400459") 
                  | +7 (913) 740-04-59
                  | #[br]
                  | Ксения
