extends ../layout

block variables
  - var title = "Здравствуйте!";
  - var subTitle = "Меня зовут Ксения Контиева - основатель бренда \"ТО САМОЕ МЕСТО - аренда квартир посуточно\" в Новосибирске."
  - var text = 'Я занимаюсь посуточной арендой с декабря 2021 года. Мы стремимся сделать красивые, функциональные и удобные апартаменты чтобы Вам захотелось к нам вернуться. Приезд в чужой город - это всегда стресс. Командировка, отпуск, срочное дело. Смена обстановки может выбить из колеи.'
  - var subText = 'В наших квартирах есть всё для комфортного проживания гостей. Нет ощущения гостиничного номера. Кухни оснащены всей необходимой техникой, для любителей готовить не возникнет труда побаловать себя! Мы ждём Вас! С любовью, ТО САМОЕ МЕСТО!'

block header
  +header('Контакты')
block main
  main.main.about
    .container
      .row
        +card('', 'card-img-top', 'Ksenia', 'jpg', '', title, subTitle, text, subText)
