include ../../blocks/libs/_libs

doctype html
html(lang="en")
  include ../../blocks/head/_head
  body.bg-light
    +header('Контакты')
    main.main
      .container
        .row
          h1 Эта страница с контактами!
  include ../../blocks/footer/_footer