extends ../layout

block variables
  - var indexTitle = "Приветствую!<br /> Меня зовут Ксения.";
  - var indexSubTitle = 'Я рада, что Вы выбрали "ТО САМОЕ МЕСТО" для проживание в Новосибирске.';
  - var indexText = 'Желаю Вам комфортного проживания и приятного время провождения.'

block header
  +header('Контакты')
block main
  main.main
    .container
      .row
        +card('card-img-top', 'Ksenia', 'jpg', '', indexTitle, indexSubTitle, indexText)
