extends ../layout

block header
  +header('Главная')
block main
  main.main.main-bg
    .container
      .row
        .col-10.col-sm-7.my-5.main-content
          h1.fw-bold.text-uppercase То самое место
          h3.fw-bold.my-4
            | КРАТКОСРОЧНАЯ АРЕНДА 
            br
            | КВАРТИР В НОВОСИБИРСКЕ
          p.main-text.fs-5.mt-3.fw-normal.lh-sm
            | Это ТО САМОЕ МЕСТО, где Вы найдете идеальную, во всех смыслах,
            | квартиру в Новосибирске. И неважно, для каких целей Вы прибываете
            | в город, будь то командировка, визит к родственникам или просто
            | мини-путешествие.
