extends ../layout

block header
  +header('Главная')
block main
  main.main.main-bg
    .container-fluid
      .container
        .row
          .col.col-md-9.my-3
            h1.fw-bold.text-uppercase То самое место
            h3.fw-bold.my-3
              | КРАТКОСРОЧНАЯ АРЕНДА 
              br
              | КВАРТИР В НОВОСИБИРСКЕ
            p.fs-5.mt-3.fw-bold.lh-sm(style="text-align: justify;")
              | Это ТО САМОЕ МЕСТО, где Вы найдете идеальную, во всех смыслах,
              | квартиру в Новосибирске. И неважно, для каких целей Вы прибываете
              | в город, будь то командировка, визит к родственникам или просто
              | мини-путешествие.
