extends ../layout

block append head
  link(rel="preconnect" href="https://api-maps.yandex.ru/2.1/?load=package.standard&apikey=93a7b337-c4cc-4afa-ac28-b9fd05f89ecd&lang=ru_RU")
  link(rel="dns-prefetch" href="https://api-maps.yandex.ru/2.1/?load=package.standard&apikey=93a7b337-c4cc-4afa-ac28-b9fd05f89ecd&lang=ru_RU")

block header
  +header('Квартиры и апартаменты')

block main
  main.main
    .container
      .row
        .col.col-md-9.my-3
          h1.fw-bold.text-uppercase То самое место
          h3.fw-bold.my-3
            | КРАТКОСРОЧНАЯ АРЕНДА 
            br
            | КВАРТИР В НОВОСИБИРСКЕ
          p.fs-5.mt-3.fw-bold.lh-sm(style="text-align: justify;")
            | Это ТО САМОЕ МЕСТО, где Вы найдете идеальную во всех смыслах
            | квартиру в Новосибирске. И неважно, для каких целей Вы прибываете
            | в город, будь то командировка, визит к родственникам или просто
            | мини-путешествие.
      .row
        .col
          h4.mt-4 Посмотреть списком
          hr
      .row
        .col
          +cardWithBtn('img-european-coast', 'img-fluid rounded-start', 'card-room', 'jpg', 'Европейский берег по-французски', 'Уютная и комфортная квартира в микрорайоне "Европейский берег" - одном из самых развитых микрорайонов города с собственной инфраструктурой и набережной. Идеально подходит, как для рабочих поездок, так и романтических путешествий.', ['Площадь 34 кв.м.', 'Кровати: односпальных 1, больших двуспальных 1.'], 'european-coast-in-french')
      .row
        .col
          +cardWithBtn('img-pythagoras', 'img-fluid rounded-start', 'DSC_02_01', 'jpg', 'ТО САМОЕ МЕСТО В ЖК ПИФАГОР', 'Современная и уютная квартира-студия в новом жилом комплексе "ПИФАГОР" для двоих.', ['Площадь 25 кв.м.', 'Кровати: 1 двуспальный диван.'], 'pythagoras')
      .row
        .col
          h4.mt-4 Частозадаваемые вопросы
          hr
          #accordionFlushExample.accordion.accordion-flush
            .accordion-item
              h2#flush-headingOne.accordion-header
                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                  | Как нам передадут ключи?
              #flush-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
                .accordion-body
                  | У нас налажен процесс бесконтактного заселения. После полной оплаты проживания и оплаты депозита за сохранность имущества, в день заселения Вам поступит инструкция с фото, как можно заселиться в квартиру и где взять ключи.
            .accordion-item
              h2#flush-headingTwo.accordion-header
                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                  | Если я передумаю ехать, вернут ли мне деньги?
              #flush-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo' data-bs-parent='#accordionFlushExample')
                .accordion-body
                  | У нас действуют правила отмены бронирований. Если Ваши планы поменялись, и Вы сообщили нам об этом за 7 дней до заезда, то мы вернем Вам денежные средства в полном объеме. Если до заезда остается менее 7 дней, то Ваши денежные средства останутся у нас.
            .accordion-item
              h2#flush-headingThree.accordion-header
                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseThree' aria-expanded='false' aria-controls='flush-collapseThree')
                  | Что нужно брать с собой?
              #flush-collapseThree.accordion-collapse.collapse(aria-labelledby='flush-headingThree' data-bs-parent='#accordionFlushExample')
                .accordion-body
                  | С собой Вам необходимо взять только Ваши личные вещи и хорошее настроения, т.к. все предметы личной гигиены, даже зубные щетки в индивидуальных упаковках, комплект полотенец и постельное белье мы предоставляем для всех своих гостей.
      .row
        .col
          h4.mt-4 Правила проживания
          hr
          .d-grid
            a.btn.btn-outline-info.btn-lg.border-2.my-3.color-brown.fw-bold(type="button" href='./rules.html') Ознакомьтесь с Правилами проживания
      .row
        .col
          h4.mt-4 Посмотреть на карте
          hr
      .row
        .col 
          #map(style="width: 100%; height: 400px")
block append footer
  script(defer src="https://api-maps.yandex.ru/2.1/?load=package.standard&apikey=93a7b337-c4cc-4afa-ac28-b9fd05f89ecd&lang=ru_RU&onload=init" type="text/javascript")
