extends ../layout

block header
  +header('Рекомендую посетить')
block main
  main.main
    .container
      .row.mt-4
        .col-12.col-lg-6
          p Для Вас подготовлена подборка достопримечательностей и мест, куда можно сходить в Новосибирске.
        .col-12.col-lg-6
          p Чтобы узнать подробнее про то или иное место - просто нажмите на изображение.
      .row
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'academ', 'jpg', 'width: 100%;', 'Академгородок', '#modal1')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'museum', 'jpg', 'width: 100%;', 'Краеведческий музей', '#modal2')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'museum-rzd', 'jpg', 'width: 100%;', 'Музей<br />железнодорожной техники', '#modal3')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'monument', 'jpg', 'width: 100%;', 'Монумент Славы', '#modal4')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'theatre', 'jpg', 'width: 100%;', 'Театр "Красный факел"', '#modal5')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'aquapark', 'jpg', 'width: 100%;', 'Аквапарк "Аквамир"', '#modal6')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'opera', 'jpg', 'width: 100%;', 'Театр оперы и балета', '#modal7')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'planetarium', 'jpg', 'width: 100%;', 'Большой новосибирский планетарий', '#modal8')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'center', 'jpg', 'width: 100%;', 'Центр океанографии<br />и морской биологии', '#modal9')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'museum-art', 'jpg', 'width: 100%;', 'Художественный музей', '#modal10')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'garden', 'jpg', 'width: 100%;', 'Ботанический сад', '#modal11')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'zoo', 'jpg', 'width: 100%;', 'Новосибирский зоопарк<br />им. Р.А. Шило', '#modal12')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'museum-dead', 'jpg', 'width: 100%;', 'Музей Мировой<br />Погребальной Культуры', '#modal13')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'philarmonic', 'jpg', 'width: 100%;', 'Новосибирская филармония', '#modal14')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'museum-sky', 'jpg', 'width: 100%;', 'Историко-архитектурный музей<br />под открытым небом', '#modal15')

    +modal('modal1')
    +modal('modal2')
    +modal('modal3')
    +modal('modal4')
    +modal('modal5')
    +modal('modal6')
    +modal('modal7')
    +modal('modal8')
    +modal('modal9')
    +modal('modal10')
    +modal('modal11')
    +modal('modal12')
    +modal('modal13')
    +modal('modal14')
    +modal('modal15')
