extends ../layout

block variables
  -
    var modals = {
      'modalId1': {
        'imgName': 'academ',
        'title': 'Академгородок',
        'content': 'Академгородок – это крупный район Новосибирска, который состоит из целого комплекса построек: институтов, лабораторий, общежитий и жилых домов для сотрудников. При проектировании района архитекторы старались сохранить имеющиеся здесь зеленые насаждения, поэтому сегодня это один из самых живописных уголков города, где современные кирпичные здания соседствуют с вековыми соснами и величественными дубами. На базе Академгородка постоянно проводятся новейшие разработки и исследования. Кроме научной деятельности, здесь активно ведется образовательная и культурная работа: действуют музеи и интересные выставки, проводятся конференции и семинары, для школьников предусмотрены специальные курсы.',
        'address': '',
        'telephone': ''
      },
      'modalId2': {
        'imgName': 'museum',
        'title': 'Краеведческий музей',
        'content': 'Новосибирский государственный краеведческий музей основан в 1920 году, первые выставки были посвящены астрономии и геологии. На сегодняшний день в фондах музея хранится почти 150 тысяч экспонатов. Самые интересные исторические находки – настоящий скелет мамонта и древние предметы быта сибирских народов. Коллекции музея отличаются огромным разнообразием. В залах представлены экспонаты на тему археологии, этнографии, нумизматики. Очень любопытны выставки одежды и тканей, изделий из стекла и фарфора. Уникален и книжный фонд, куда входит редкая церковная и светская литература, газеты, журналы.',
        'address': 'Адрес: г. Новосибирск, ул. Красный проспект, д. 13.',
        'telephone': 'Телефон: 8 (383) 227-15-43'
      },
      'modalId3': {
        'imgName': 'museum-rzd',
        'title': 'Музей<br />железнодорожной техники',
        'content': 'Музей относится к числу самых популярных достопримечательностей города, ежегодно его посещает более 50 тысяч туристов. В коллекции – более сотни экспонатов, от фотографий и документов до настоящих локомотивов. Посетители могут осмотреть старинные угольные паровозы, советские и зарубежные электровозы, паровозный танк, магистральные тепловозы. Здесь же стоит целый состав первой российской скоростной электрички. Кроме паровозов, интерес представляют отдельно взятые вагоны. Вагон-операционная, вагон для перевозки заключенных, вагон-кухня и колоритный царский вагон с дубовой мебелью, роскошными купе и сияющим позолотой рестораном. В музее также представлены уникальные ретро-автомобили, техника военных лет и образцы советского автопрома.',
        'address': 'Адрес: г. Новосибирск, ул. Разъездная, д. 54/1.',
        'telephone': 'Телефон: 8 (383) 248-08-22'
      },
      'modalId4': {
        'imgName': 'monument',
        'title': 'Монумент Славы',
        'content': 'Мемориальный комплекс расположен на огромной территории, почти 2 гектара. Центральным объектом является монумент скорбящей женщины, олицетворяющей всех матерей и жен, отправивших близких на войну. Перед памятником горит Вечный огонь, к которому в День Победы горожане приносят цветы. На пяти огромных каменных пилонах изображены картины схваток с врагом. В начале 21 века комплекс пополнился еще одной достопримечательностью – маленькой, уютной часовней Георгия Победоносца.',
        'address': 'Адрес: г. Новосибирск, ул. Станиславского.',
        'telephone': ''
      },
      'modalId5': {
        'imgName': 'theatre',
        'title': 'Театр "Красный факел"',
        'content': 'С 1932 года театральная сцена расположена в историческом здании начала XX века, возведенном в стиле русского классицизма с элементами модерна. До Революции оно принадлежало местному Коммерческому клубу. Сооружение пережило несколько реконструкций (последняя была проведена в 2007 году), благодаря чему находится в прекрасном состоянии. «Красный факел» считается одним из ведущих театров Новосибирска.',
        'address': 'Адрес: г. Новосибирск, ул. Ленина, д. 19.',
        'telephone': 'Телефон: 8 (383) 210-06-71'
      },
      'modalId6': {
        'imgName': 'aquapark',
        'title': 'Аквапарк "Аквамир"',
        'content': 'Аквапарк "Аквамир" в Новосибирске был открыт в 2016 году. Это один из самых новых и самый большой крытый аквапарк в России. Площадь аквапарка — 40000 кв. метров. «Аквамир» отличается от подобных аквапарков широким спектром услуг, многие из которых редкие или уникальные. Здесь есть необычные термы, водные горки и аттракционы, детская игровая зона, а также классические и известные многим развлечения. Территория «Аквамира» — зеленый оазис тепла и света, где круглый год поддерживается комфортная температура воздуха и воды около +30 градусов. Фуд-корт аквапарка представлен несколькими кафе, где можно не только вкусно перекусить, но и полноценно пообедать.',
        'address': 'Адрес: г. Новосибирск, ул. Яринская, д. 8.',
        'telephone': 'Телефон: 8 (383) 316-00-00'
      },
      'modalId7': {
        'imgName': 'opera',
        'title': 'Академический театр<br />оперы и балета',
        'content': 'Театр оперы и балета открыт в победном 1945 году. Сегодня это один из ведущих театров России. Здание представляет собой уникальный по сложности и задумке архитектурный комплекс, который входит в список объектов культурного наследия РФ. Театр расположен на главной городской площади. Главный зал способен вместить почти полторы тысячи зрителей. Репертуар очень разнообразен; на сцене ставятся классические и современные произведения. Юные зрители неизменно приходят в восторг от интересных детских спектаклей.',
        'address': 'Адрес: г. Новосибирск, ул. Красный проспект, д. 36.',
        'telephone': 'Телефон: 8 (383) 222-04-01'
      },
      'modalId8': {
        'imgName': 'planetarium',
        'title': 'Большой новосибирский планетарий',
        'content': 'Планетарий был открыт в Новосибирске в 2012 году. Место, где он располагается, выбрано со смыслом: это самая высокая точка города. На базе планетария действует 20 детских образовательных объединений, постоянно проводятся фестивали и конференции. Для посетителей открыт зал с интересными экспонатами. При желании можно совершить настоящее виртуальное путешествие. Территория не менее интересна: она представляет собой огромный парк в виде планетарной системы. Здесь можно рассмотреть положение планет в Солнечной системе, узнать время по Солнечным часам, увидеть огромный маятник Фуко на подвесе высотой 15 метров. При планетарии работает современная обсерватория с мощными телескопами, позволяющими следить за небесными телами и делать интересные астрономические наблюдения.',
        'address': 'Адрес: г. Новосибирск, ул. Ключ-Камышенское Плато, д. 1/1.',
        'telephone': 'Телефон: 8 (383) 327-05-45'
      },
      'modalId9': {
        'imgName': 'center',
        'title': 'Центр океанографии<br />и морской биологии',
        'content': 'Центр океанографии и морской биологии «Дельфиния» - уникальный для Сибири объект. Строительство центра океанографии и морской биологии «Дельфиния» началось в Новосибирском Зоопарке по инициативе Ростислава Шило. Площадь залов комплекса составляет более 8 000 кв.м., объем воды в бассейнах и аквариумах приближается к 2,7 млн. литров. «Дельфиния» может одновременно вместить до 650 зрителей. Одной из главных особенностей нашего комплекса является конструкция уникального купола, который позволяет создать для обитателей центра эффект естественного освещения. Для новосибирцев и гостей города в «Дельфинии» выступают тихоокеанские дельфины афалины, белые полярные киты белухи, южноамериканские морские львы, северный морской лев сивуч и тихоокеанский морж. Параллельно с выступлениями дельфинов и морских животных работает Океанариум с туннелем, который проходит сквозь аквариум. В экспозиции задействовано 30 исключительно морских аквариумов. В них можно увидеть более 300 видов рыб и морских животных: мурен, скатов, акул и других обитателей морей и океанов.',
        'address': 'Адрес: г. Новосибирск, ул. Жуковского, д. 100/4.',
        'telephone': 'Телефон:8 (800) 100-89-88'
      },
      'modalId10': {
        'imgName': 'museum-art',
        'title': 'Художественный музей',
        'content': 'Залы музея открыты посетителям с 1958 года. В фондах сегодня хранится более 11 тысяч работ по живописи, графике, скульптуре, декоративно-прикладному искусству. Особого внимания заслуживают старинные иконы, некоторые из них датируются 16-м веком. В Художественном музее постоянно проводятся лекции, семинары, образовательные конкурсы для детей и взрослых. Экспозиция занимает часть огромного здания, в которое также входят другие культурные учреждения: Театр художественной куклы, Новосибирский музей игрушки, Музей восковых фигур.',
        'address': 'Адрес: г. Новосибирск, ул. Красный проспект, д. 5.',
        'telephone': 'Телефон: 8 (383) 223-53-31'
      },
      'modalId11': {
        'imgName': 'garden',
        'title': 'Ботанический сад',
        'content': 'Центральный сибирский ботанический сад СО РАН – это особо охраняемая природная зона. На огромной территории (более 850 га) расположились лаборатории, теплицы, оранжереи, экспериментально-производственный корпус. Главная задача, которую ставят перед собой сотрудники Ботанического сада – максимально подробно изучить богатство растительного мира Сибири и разработать концепцию по сохранности всего биоразнообразия. В саду обитает множество птиц и животных, которые свободно ведут себя в естественной среде. В дендрарии и оранжереях представлены уникальные коллекции растений. Ботанический сад открыт для гостей ежедневно. Можно гулять по территории, среди красивых деревьев и цветов, делая фото на ярком фоне. Главное – не разводить костры и не оставлять после себя мусор.',
        'address': 'Адрес: г. Новосибирск, ул. Золотодолинская, д. 101.',
        'telephone': 'Телефон: 8 (383) 339-97-28'
      },
      'modalId12': {
        'imgName': 'zoo',
        'title': 'Новосибирский зоопарк<br />им. Р.А. Шило',
        'content': 'На огромной площади, более 63 га, обитает свыше 11 тысяч особей всевозможных животных. Более половины обитателей внесены в Красную Книгу, то есть у зоопарка очень важная миссия – сохранить и, по возможности, размножить исчезающие виды животных и птиц. В зоопарке можно не только гулять, рассматривая тигров, жирафов, верблюдов. Для детей и взрослых предусмотрены увлекательные аттракционы, уютные кафе, специальные зоны отдыха. На территории работает большой фонтан – настоящее украшение зоопарка. Посещать зоопарк можно в любое время года, но самые интересные виды здесь открываются, конечно, летом. Среди всех любопытных уголков, которые можно посмотреть в Новосибирске, зоопарк неизменно вызовет восторг у каждого гостя.',
        'address': 'Адрес: г. Новосибирск, ул. Тимирязева, д. 71/1.',
        'telephone': 'Телефон: 8 (383) 388-72-58'
      },
      'modalId13': {
        'imgName': 'museum-dead',
        'title': 'Музей Мировой<br />Погребальной Культуры',
        'content': 'Любители необычных достопримечательностей обязательно должны посетить Музей мировой погребальной культуры – выставку, посвященную похоронным традициям различных народов. Это единственный в России музей подобной направленности. В фондах музея хранится несколько десятков тысяч экспонатов: траурных нарядов, моделей катафалков конца 19-начала 20 века, гравюр похоронной тематики, картин, скульптур, фотографий. В музее периодически проводятся тематические мероприятия: театрализованные постановки, квесты, социальные акции. В 2015 году на базе музея состоялся форум (единственный в своем роде), посвященный похоронному делу и траурной атрибутике. Так же музей организовывал парад катафалков, который собрал большое количество зрителей.',
        'address': 'Адрес: пос. Восход, ул. Военторговская, д. 4.',
        'telephone': 'Телефон: 8 (383) 363-03-29'
      },
      'modalId14': {
        'imgName': 'philarmonic',
        'title': 'Новосибирская филармония',
        'content': 'Новосибирская филармония основана в 1937 году. Ежегодно музыкальные коллективы дают более 2 тысяч концертов, не только в Новосибирске, но и в разных городах области. На сегодняшний день в филармонии работает 19 коллективов. Музыкальные и вокальные ансамбли уже стали хорошо узнаваемыми во всей стране. Поклонники ценят их творчество за высокую отдачу и профессионализм. Отдельно работает детско-юношеское направление, представленное талантливой молодежью. Здание филармонии тоже представляет интерес: волнообразная форма стеклянных фасадов ассоциируется с плавностью и возвышенностью музыки.',
        'address': 'Адрес: г. Новосибирск, ул. Красный проспект, д. 18/1.',
        'telephone': 'Телефон: 8 (383) 223-41-41'
      },
      'modalId15': {
        'imgName': 'museum-sky',
        'title': 'Историко-архитектурный музей<br />под открытым небом',
        'content': 'Музей состоит из целого комплекса памятников культуры и истории Сибири. Традиционные сибирские избы, церковь, ветряная мельница, амбар, баня по-черному – список экспонируемых объектов огромен. Ансамбль продолжает застраиваться и другими деревянными сооружениями. Каждая постройка – это прекрасный образец местного зодчества. Музей занимает огромную территорию, более 46 га. Вся площадь разделена на несколько рекреационных зон, где представлены архитектурные, этнографические, археологические памятники. Имеется экспериментальная площадка. Еще одна выставка размещена в административном корпусе. Для туристов музей под открытым небом представляет огромный интерес: в хорошую погоду здесь можно провести несколько часов, рассматривая колоритные сооружения и узнавая детали о прошлой жизни коренных народов. Каждый год музей под открытым небом посещают около тысячи гостей.',
        'address': 'Адрес: г. Новосибирск, ул. Ионосферная, д. 6.',
        'telephone': 'Телефон: 8-913-781-54-93'
      }
    };

block header
  +header('Рекомендую посетить')
block main
  main.main
    .container
      .row.mt-4
        .col-12.col-lg-6
          p Для Вас подготовлена подборка достопримечательностей и мест, куда можно сходить в Новосибирске.
        .col-12.col-lg-6
          p Чтобы узнать подробнее про то или иное место - просто нажмите на изображение.
      .row
        each values, key in modals
          .col-12.col-lg-6.col-xl-4
            +cardImgTop('card-img-top', values.imgName, 'jpg', 'width: 100%;', values.title, `#${key}`)
  each values, key in modals
    +modal(key, values.imgName, 'jpg', values.title, values.content, values.address, values.telephone)