extends ../layout

block header
  +header('Рекомендую посетить')
block main
  main.main
    .container
      .row
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'academ', 'jpg', 'width: 100%;', 'Академгородок')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'museum', 'jpg', 'width: 100%;', 'Краеведческий музей')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'museum-rzd', 'jpg', 'width: 100%;', 'Музей<br />железнодорожной техники')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'monument', 'jpg', 'width: 100%;', 'Монумент Славы')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'theatre', 'jpg', 'width: 100%;', 'Театр "Красный факел"')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'aquapark', 'jpg', 'width: 100%;', 'Аквапарк "Аквамир"')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'opera', 'jpg', 'width: 100%;', 'Театр оперы и балета')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'planetarium', 'jpg', 'width: 100%;', 'Большой новосибирский планетарий')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'center', 'jpg', 'width: 100%;', 'Центр океанографии<br />и морской биологии')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'museum-art', 'jpg', 'width: 100%;', 'Художественный музей')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'garden', 'jpg', 'width: 100%;', 'Ботанический сад')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'zoo', 'jpg', 'width: 100%;', 'Новосибирский зоопарк<br />им. Р.А. Шило')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'museum-dead', 'jpg', 'width: 100%;', 'Музей Мировой<br />Погребальной Культуры')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'philarmonic', 'jpg', 'width: 100%;', 'Новосибирская филармония')
        .col-12.col-lg-6.col-xl-4
          +cardImgTop('card-img-top', 'museum-sky', 'jpg', 'width: 100%;', 'Историко-архитектурный музей<br />под открытым небом')
