extends ../layout

block header
  +header('')

block main
  main.main
    .container
      .row
        .col
          h4.text-dark.text-center.mt-4 Правила проживания
          hr
          h6.text-center Время заезда до 14:00&nbsp;&nbsp;|&nbsp;&nbsp;Время выезда до 12:00
          ol.list-group.list-group-numbered.list-group-flush
            li.list-group-item 
              | Цена указана на 1-2 человека (спальное место - двуспальная кровать), за третьего человека или дополнительный комплект белья 
              |
              span.fw-bold доплата 800 рублей
              | .
            li.list-group-item Заселение в апартаменты возможно только для лиц старше 18 лет при предъявлении паспорта и заключении договора.
            li.list-group-item При заезде вам необходимо иметь с собой, помимо документа, удостоверяющего личность, полную оплату за аренду квартиры или апартаментов, а также залоговую сумму в размере 2000 рублей. Документ в залог не принимается.
            li.list-group-item 
              | Необходимо соблюдать законодательство РФ, уважать соседей и
              |
              span.fw-bold не шуметь с 22.00 до 08.00 часов
              |
              | .
            li.list-group-item
              | Курение в квартирах и апартаментах запрещено&nbsp;-
              |
              span.fw-bold ШТРАФ 10 000 рублей.
            li.list-group-item Квартиры и апартаменты сдаются исключительно для проживания лиц, указанных в договоре. Вечеринки, распитие спиртных напитков, употребление запрещенных законодательством РФ препаратов, проживание с животными, а также оказание каких-либо услуг населению в апартаментах категорически запрещены! В случае выявления данных нарушений - выселение без возврата стоимости проживания, а также залоговой суммы.
            li.list-group-item Скидки предоставляются только при условии оплаты за долгий срок проживания единовременно. При оплате частями скидки не предоставляются.
            li.list-group-item 
              | При длительном проживании смена белья и влажная уборка осуществляются раз в 7 дней
              span.fs-4.fw-bold *
              |
              | по предварительной договоренности.
              .fw-bolder.mt-2
                p.lh-1
                  span.fs-4.fw-bold *
                  small.text-muted обращаем внимание, что накопленная посуда складывается в раковину для освобождения и протирания поверхностей, мытье посуды в уборку не включено. При проживании менее 7 дней или по необходимости Вы можете запросить за дополнительную плату: уборка со сменой белья – 1400 рублей; уборка без смены белья – 800 рублей.