body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  flex: 1 1 0;
  background-image: url(../img/bg-main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  /* background-color: #d1cfcd; */
}

.logo {
  width: 115px;
  height: 115px;
}

.active-link,
h1,
h3 {
  color: rgb(139, 81, 29) !important;
}

.nav-link {
  font-weight: bold;
}
.main-content {
  width: 60%;
  /* background-color: rgba(255, 255, 255, 0.4); */
}

.main-text {
  text-align: justify;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.footer {
  margin-top: auto !important;
  /* color: rgb(139, 81, 29); */
  /* background-color: #c5bbb1; */
}

.footer-logo {
  width: 35px;
  height: 35px;
}

.footer p {
  width: 150px !important;
}

.social-icon {
  width: 30px !important;
  height: 30px !important;
}