include pug/libs/_libs

doctype html
html(lang='ru')
  include pug/_head
  body.bg-light
    header.header
      nav.navbar.navbar-expand-lg.navbar-light
        .container
          a.navbar-brand(href='#')
            img.logo(src='./images/logo.png' alt='logo' loading='lazy')
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
            .navbar-nav.text-uppercase.font-weight-bold
              a.nav-link.active-link(aria-current='page' href='#') Главная
              a.nav-link.font-weight-bold(href='#') Квартиры и аппартаменты
              a.nav-link.font-weight-bold(href='#') Рекомендую посетить
              a.nav-link.font-weight-bold(href='#') Контакты
    main.main
      .container
        .row
          // <div class="col-1 col-sm-2"></div>
          .col-10.col-sm-7.my-5.main-content
            h1.fw-bold.text-uppercase То самое место
            h3.fw-bold.my-4
              | КРАТКОСРОЧНАЯ АРЕНДА 
              br
              | КВАРТИР В НОВОСИБИРСКЕ
            p.main-text.fs-5.mt-3.fw-normal
              | Это ТО САМОЕ МЕСТО, где Вы найдете идеальную, во всех смыслах,
              | квартиру в Новосибирске. И неважно, для каких целей Вы прибываете
              | в город, будь то командировка, визит к родственникам или просто
              | мини-путешествие.
    footer.footer.mt-1
      .container
        .row.py-2.d-flex.flex-column.flex-sm-row.justufy-content-center.align-items-center
          .col.col-sm-4.d-flex.justify-content-center.justify-content-sm-start.align-items-center
            +image("footer-logo", "logo", "png")
            //- img.footer-logo(src='./images/logo.png' alt='logo' loading='lazy')
            p.fw-bold.ps-2.py-0.m-0.text-uppercase То самое место
          .social.col.col-sm-4.d-flex.justify-content-center.align-items-center.my-2
            a.social-link(href='https://vk.com/to_samoe_mesto_nsk' target='_blank')
              img.social-icon(src='./icons/vk.svg' alt='vc icon')
            a.social-link.px-3(href='https://t.me/to_samoe_mesto_nsk' target='_blank')
              img.social-icon(src='./icons/telegram.svg' alt='telegram icon')
            a.social-link(href='https://wa.me/79137400459' target='_blank')
              img.social-icon(src='./icons/whatsapp.png' alt='whatsapp icon')
          .col.col-sm-4.d-flex.justify-content-center.justify-content-sm-end.align-items-center
            p.m-0.p-0.text-center.text-sm-end © 2022
    script(src='./js/bootstrap.bundle.min.js')